/* classes */
.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.flexbox-row {
    display: flex;
    flex-direction: row;
}

.flexbox-col {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

/* css variables */